@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --text__01: #444444;
  --text__02: #251bcd;
  --text__03: #fa6647;
  --text__04: #544ccc;
  --text__05: #ffffff;
  --text__06: rgba(68, 68, 68, 0.5); /* #444444 con opacidad */

  --bg__01: #444444;
  --bg__02: #251bcd;
  --bg__03: rgb(23, 18, 122);
  --bg__04: rgba(36, 27, 205, 0.8);
  --bg__05: #fa6647;
  --bg__06: #e25c42;
  --bg__07: rgba(250, 101, 71, 0.8);
  --bg__08: #ffffff;
  --bg__09: #f5f5f5;

  --border__01: #444444;
  --border__02: #251bcd;
  --border__03: #fa6647;

  --shadow__01: rgba(100, 100, 100, 0.5);
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--bg__09);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
